body {
  min-width: max-content;
  max-width: none;
  background-color: #a6a5af;
  margin:50px

}


.tareasapp {

  display: flex;
  flex-direction: column;
  min-width: max-content;

}
.container {
  display: flex;
}

.view {
  position: relative;  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
}

.destroy {
  position: absolute;
  right: 0;  
  background: none;
  border: none;
  color: red;
  display: none;
  font-size: 18px;
}

.view:hover .destroy {
  display: block;  
}

.Board {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 10px;
  margin: 10px;
  background: #f3f3f7;
  border: 1px solid #ccc;
  min-height: 300px; /* Altura mínima */
  max-width: 30%; 
  overflow-y: auto; 
  max-height: 400px; 
}

.tarea-contador{
  justify-content: center;
  display: flex;
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-tarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.form-tarea h2 {
  display: flex;
  justify-content: center;
}

.tarea-lista{
  list-style-type: none;
  padding-inline-start: 20px;
  
}

.tarea-lista li {
  border-radius: 8px;
  margin-top: 10px;
  background-color: #d0d5e0;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(#333, 0.1);
}
.add-tarea1 {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.add-tarea2 {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.tarea3 {
  display: flex;

}

.label-tarea{
  padding-bottom: 20px;
  padding-top: 20px;
}


